.news-digest-title {
    color:#ffffff;
    font-family: 'Montserrat', sans-serif;
    
}

.content_wrapper {
    width: 100%;
    overflow: hidden;
}

.show_story.content_wrapper {

}

button {
    border-width: 5em;
    border: #5C5AFB;
    background-color: none;
}

.close-btn {
    overflow: hidden;
}

.saved-stories-btn {
    overflow: hidden;
}

.save-stories-back-to-feed-btn {
    overflow: hidden;
}