.news-digest-title {
    color:#ffffff;
    font-family: 'Montserrat', sans-serif;
    
}

.content_wrapper {
    width: 100%;
    overflow: hidden;
}

.show_story.content_wrapper {

}

button {
    border-width: 5em;
    border: 2px solid #5C5AFB;
    color: #ffffff;
    background: none;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 10px;
}

.close-btn {
    overflow: hidden;
    float: right;
}

.saved-stories-btn {
    overflow: hidden;
}

.save-stories-back-to-feed-btn {
    overflow: hidden;
}

.filter-container {
    padding: 45px;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 1em;
}

    .logo-container img {
        height: 3em;
        margin-right: 1em;
    }

    .logo-container h1 {
        font-size: 20px;
    }