.news-digest-title {
    color:#ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    line-height: normal;
}

.content_wrapper {
    width: 100%;
    overflow: hidden;
}

.show_story.content_wrapper {

}

.filter-btn {
    overflow: hidden;
}

.close-btn {
    overflow: hidden;
}

.saved-stories-btn {
    overflow: hidden;
}

.save-stories-back-to-feed-btn {
    overflow: hidden;
}